## Python Basics Exercise
This exercise is designed to test your skills on basic Python programming, `numpy` and `pandas`.

Place your answers within the code blocks that have the comment.

```python
# your code here
```

Make sure to remove or comment the line below to be able to proceed. It's only placed there as a reminder that the function has not yet been implemented.
```python
raise NotImplementedError
```

## Note on "test scripts"

The code bloock following the function definition are "unit tests" which are code blocks which test if the function you implemented is correct or not. It will not print an output **if the conditions are met** (meaning the answer is correct). The current output for "Exercise 1" shows an example of when the code is correct and there's no errors, while the output for "Exercise 2" shows an example of what it would look like if something is incorrect.

---

In [3]:
import numpy as np
import pandas as pd

**Exercise 1.** Create a function that generates a list containing values from 0 to n-1. **(1 pt.)**

In [110]:
def exercise_1(n):
    return [x for x in np.arange(n)]

In [111]:
# these are test scripts
ans = exercise_1(5)
assert ans==[0, 1, 2, 3, 4]

ans = exercise_1(25)
assert ans==[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

**Exercise 2.** Create a function that turns the list into a numpy array **(1 pt.)**

In [8]:
def exercise_2(nums):
    return np.asarray(nums)

In [9]:
ans = exercise_2([0, 1, 2, 3, 4])
assert (ans==np.arange(5)).sum()==5

ans = exercise_2(exercise_1(5))
assert (ans==np.arange(5)).sum()==5

ans = exercise_2(exercise_1(25))
assert (ans==np.arange(25)).sum()==25

**Exercise 3.** Create a function that accepts 2 parameters: 
 - nums - a list of integer
 - n - a single integer number
 
The function adds n to all the numbers in nums.

**(1 pt.)**

In [12]:
def exercise_3(nums, n):
    return [x + n for x in nums]

In [13]:
ans = exercise_3([0, 1, 2, 3, 4], 20)
assert (ans==np.arange(20, 25)).sum()==5

ans = exercise_3([0, 1, 2], 60)
assert (ans==np.arange(60, 63)).sum()==3

**Exercise 4.** Create a function that accepts a list of numbers as input and returns the first number that has a lower than the number preceding it. If there is none, return `None`.

**(2 pts.)**

In [14]:
def exercise_4(nums):
    runningVal = None;
    for x in nums:
        if runningVal is None:
            runningVal = x;
        elif runningVal > x:
            return x;

In [15]:
ans = exercise_4([0.79, 4, 11.8, 99])
assert ans==None

ans = exercise_4([0.79, 4, 11.8, 99, 0.4, 76, 55, 66])
assert ans==0.4

ans = exercise_4([0.79, 4, 4, 11.0, 11, -10, -11, 12])
assert ans==-10

**Exercise 5.** Create a function that returns a list of prime factors of a number.

**(2 pts.)**

In [131]:
def is_prime(n):
    if n <= 1:
        return False
    if n <= 3:
        return True
    if (n % 2 == 0 or n % 3 == 0):
        return False
    i = 5
    while(i * i <= n):
        if (n % i == 0 or n % (i + 2) == 0):
            return False
        i = i + 6
    return True

def exercise_5(n):
    prime_factors = []
    if n > 1:
        while not is_prime(n):
            divider = 2
            while n % divider != 0 and divider < n:
                divider += 1
            if divider == n:
                break;
            n = int(n / divider)
            if divider not in prime_factors:
                prime_factors.append(divider)
        if n not in prime_factors:
                prime_factors.append(n)
    print(prime_factors)
    return prime_factors

In [132]:
ans = exercise_5(1)
assert ans==[]

ans = exercise_5(4)
assert ans==[2]

ans = exercise_5(1265)
assert ans==[5, 11, 23]

ans = exercise_5(3674)
assert ans==[2, 11, 167]

[]
[2]
[5, 11, 23]
[2, 11, 167]

**Exercise 6.** Create a function that has 3 parameters: list of integers (num), integer number (n1), and another integer number (n2). The function will return a list of integers that are multiples of either n1 or n2.

**(2 pts.)**

In [134]:
def exercise_6(nums, n1, n2):
    multiples = []
    for x in nums:
        if (((x % n1) == 0) or ((x % n2) == 0)) and (x > 0):
            multiples.append(x)
    print(multiples)
    return multiples

In [135]:
ans = exercise_6(np.arange(20), 3, 4)
assert ans==[3, 4, 6, 8, 9, 12, 15, 16, 18]

ans = exercise_6(np.arange(300), 17, 27)
assert ans==[17, 27, 34, 51, 54, 68, 81, 85, 102, 108, 119, 135, 136, 153, 162, 170, 187, 189, 204, 216, 221, 238, 243, 255, 270, 272, 289, 297]

[3, 4, 6, 8, 9, 12, 15, 16, 18]
[17, 27, 34, 51, 54, 68, 81, 85, 102, 108, 119, 135, 136, 153, 162, 170, 187, 189, 204, 216, 221, 238, 243, 255, 270, 272, 289, 297]

**Exercise 7.** Create a function that reads the Titanic dataset (`data/train.csv`) and returns the ages (in list form) of first 5 (based on index) female passengers who survived .

**(2 pts.)**

In [100]:
def exercise_7():
    df = pd.read_csv("./data/train.csv")
    return df[df["Sex"] == "female"].head()["Age"].values.tolist()

In [101]:
assert exercise_7()==[38, 26, 35, 27, 14]

**Exercise 8.** Create a function that reads the Titanic dataset (`data/train.csv`) and returns the average fare of all female passengers who survived and have an age greater than 30. Format the result by rounding up to 2 decimal values. Make sure the data type is float.

**(2 pts.)**

In [136]:
def exercise_8():
    df = pd.read_csv("./data/train.csv")
    df = df[(df["Age"] > 30) & (df["Sex"] == "female") & (df["Survived"] == 1)]["Fare"]
    return round(df.mean(), 2)

In [137]:
assert exercise_8()==71.16